<!doctype html>
<html>
<head>
    <style>
        table,th,td {
            border:1px solid black;
        }
        </style>
<title>Jardin Manager</title>
</head>
<body>
    <h1><center>Jardin Copain</center></h1>
    <h2><a href='https://google.com'target ="_blank">
        Créer un sujet
    </a></h2>
    <h3>
    <div class='barrederecherche'>
        <form action="https://www.google.com/search"
        method="get" class="contenudansbarre">
            <input type="text" placeholder="Rechercher un sujet"
            name="q">
            <button type="submit">
            </button>
        </form>
    </div></h3>
    <table style="width:100%"> 

        <tr>
            <th>SUJET</th>
            <th>REPONSES</th>
        </tr>
    
        <tr>
            <th>
                <a href='https://google.com'target
                ="_blank">Mes tomates sont roses help
            </th>
            <th>999</th>
        </tr>
        <tr>
            <th><a href='https://google.com'target
            ="_blank">Goblin dans mon jardin</a></th>
            <th>69</th>
        </tr>
    </table>
</body>
</html>