{% extends "layout.html" %}

{% block head%}
    <link rel="stylesheet" href="../static/css/style_cabanon.css">
{% endblock head%}


{% block body%}
    <h1><center>Le Cabanon</center></h1>
    <h2><center>Bienvenu sur le Cabanon, ici vous pouvez consulter toutes les annonces disponibles</center></h2>

    <div class="annonce">
        <img class="img_annonce" src="../static/image/photo_cabanon/pommes.jpg" />
        <div class="text_annonce" style="line-height:15px;">
            
            <p class="titre_annonce">
                Vends 3 kg de pommes
            </p>
            <p class="prix">
                15€
            </p>
            <p class="adresse">
                Nancy 54000
            </p>
            <p class="date">
                Le 20/11/2022
            </p>
        </div>
        
    </div>

    <div class="annonce">
        <img class="img_annonce" src="../static/image/photo_cabanon/bananes.jpg" />
        <div class="text_annonce" style="line-height:15px;">
            
            <p class="titre_annonce">
                Vends 10 kg de bananes
            </p>
            <p class="prix">
                20€
            </p>
            <p class="adresse">
                Guadeloupe 
            </p>
            <p class="date">
                Le 18/11/2022
            </p>
        </div>
        
    </div>
    
{% endblock body %}