{% extends "layout.html" %}

{% block head%}
    <link rel="stylesheet" href="../static/css/style_forum.css">
{% endblock head%}



{% block body%}

    <h1><center>Jardin Copain</center></h1>
    <div class="Créerunsujet"> 
    <a href='creersujet'target ="_blank">
        Créer un sujet</a>
    </div>
    <form action="https://www.google.com/search"
        method="get" class="barrederecherche">
            <input type="text" placeholder="Rechercher un sujet"
            name="q">
            <button type="submit"><img src="../static/image/photo_forum/loupe.jpeg">
            </button>
    </form>
    <table class='table'>
        <tbody>
            <th>
                <td>Sujet</td>
                <td>Message</td>
            </th>
            {% for row in listdb %}
                <tr> 
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body%}
