<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/style_forum.css">
    <style>
        table,th,td {
            border:1px solid black;
        }
        </style>
<title>Jardin Manager</title>

</head>
<body>
    <h1><center>Jardin Copain</center></h1>
    <div class="Créerunsujet"> 
    <h2><a href='https://google.com'target ="_blank">
        Créer un sujet</a>
    </h2></div>
    <form action="https://www.google.com/search"
        method="get" class="barrederecherche">
            <input type="text" placeholder="Rechercher un sujet"
            name="q">
            <button type="submit"><img src="../static/image/photo_forum/loupe.jpeg">
            </button>
    </form>
    <table style="width:100%"> 
        <tr>
            <th>SUJET</th>
            <th>AUTEUR</th>
            <th>DATE</th>
            <th>REPONSES</th>
        </tr>
        <tr>
            <th>
                <a href='https://google.com'target
                ="_blank">Mes tomates sont roses help</a></th>
            <th><a href='https://google.com'target ="_blank">
                FunkyChris</a></th>
            <th>22/12/2022</th>
            <th>99</th>
        </tr>
        <tr>
            <th><a href='https://google.com'target
            ="_blank">Goblin dans mon jardin</a></th>
            <th><a href='https://google.com'target ="_blank">
                Bébou</a></th>
            <th>30/01/1999</th>
            <th>69</th>
        </tr>
    </table>
</body>
</html>