{% extends "layout.html" %}

{% block head%}
    <link rel="stylesheet" href="../static/css/style_forum.css">
{% endblock head%}



{% block body%}

    <h1><center>Jardin Copain</center></h1>
    <div class="Créerunsujet"> 
    <a href='creerunsujet'target ="_blank">
        Créer un sujet</a>
    </div>
    <form action="https://www.google.com/search"
        method="get" class="barrederecherche">
            <input type="text" placeholder="Rechercher un sujet"
            name="q">
            <button type="submit"><img src="../static/image/photo_forum/loupe.jpeg">
            </button>
    </form>
    <table class='table'>
        <tbody>
            <TR><TH>id</TH>
                <TH>sujet</TH>
                <TH>message</TH>
                </TR>
                <TR><TD>1</TD>
                <TD>a</TD>
                <TD>aa</TD>
                </TR>
                <TR><TD>2</TD>
                <TD>b</TD>
                <TD>bb</TD>
                </TR>
                <TR><TD>3</TD>
                <TD>c</TD>
                <TD>cc</TD>
                </TR>
                <TR><TD>4</TD>
                <TD>fdsfsdf</TD>
                <TD>vfdgfdgfdg</TD>
                </TR>
                <TR><TD>5</TD>
                <TD>rze</TD>
                <TD>fdsfd</TD>
                </TR>
                <TR><TD>6</TD>
                <TD>fdsfd</TD>
                <TD>fdsfddsfdfsdfs</TD>
                </TR>
        </tbody>
    </table>
{% endblock body%}