{% extends 'layout.html' %}
  {% block body %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./../static/image/photo_home/jardin.jpeg" alt="jardin">
                        <div class="card-body">
                          <h5 class="card-title">Jardin</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </th>
                <th scope="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./../static/image/photo_home/cabanon.jpeg" alt="cabanon">
                        <div class="card-body">
                          <h5 class="card-title">Le Cabanon</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </th>
                <th scope="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./../static/image/photo_home/aide.jpeg" alt="aide">
                        <div class="card-body">
                          <h5 class="card-title">Forum d'entraide</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </th>
            </tr>
        </thead>
    </table> 
  {% endblock body%}