<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="../static/css/style_mon_jardin.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- CSS Jardin 2D max-->
  <link rel="stylesheet" type="text/css" href="../static/css/test.css">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Appel de la Feuille de style minifiée De La librairie Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Appel de la Feuille de style minifiée De l'extension Datepicker -->
  <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  


  <title>Mon Jardin</title>
  

</head>
<body>

    <h1><center>Mon Jardin</center></h1>
    <h2><center>Bienvenu sur le Jardin, ici vous pouvez créer votre jardin partagée et consulter les infos</center></h2>

    <br>
    <br>
    <br>

    
    <div class="jardin_2D">
        <!-- Formulaire pour sélectionner la taille de la grille -->
        <form id="form">
            Largeur : <input type="number" id="width"><br>
            Hauteur : <input type="number" id="height"><br>
            <button type="submit">Générer</button>
            <button type="reset" id="reset">Réinitialiser</button>
        </form>
        
        <!-- Menu déroulant pour sélectionner le légume à ajouter -->
        <div id="button-container">
            <select id="vegetable-select">
            <option value="">Choisissez le légume à planter</option>
            <option value="carrot">Carotte</option>
            <option value="tomato">Tomate</option>
            </select>
            <button class="line-button">Ligne entière</button>
            <button class="delete">🗑️</button>
            <button class="porte">Entrée du jardin</button>
            <img src="../static/image/photo_jardin/porte.png" id="gate" style="display:none;">
            <button class="chemin">Chemin</button>
            <button class="clear-all">Effacer tout</button>
            <button id="delete-cell">Supprimer case</button>
            <button type="reset" id="reset">Réinitialiser Structure</button>
            <!-- Bouton pour sauvegarder le fichier -->
            <button id="save-file">Sauvegarder</button>
        <!-- Formulaire pour sélectionner un fichier à charger -->
        <form id="load-form">
            <input type="file" id="load-file">
            <button type="submit">Charger</button>
        </form>
        </div>
            
    
    </div>






    <br>
    <br>
    <br>
    <div class="container jardin">
        <h2> Voici les infos sur le jardin sélectionné:</h2>
        <br>
        <ul class="nav nav-tabs">
            <!-- Onglets de notre tableau-->
            <li class="active"><a href="#tab1" data-toggle="tab">Informations</a></li>
                <li><a href="#tab2" data-toggle="tab">Calendrier</a></li>
                <li><a href="#tab3" data-toggle="tab">Propriétaires</a></li>
        
            </ul>
            <!-- Contenu du tableau-->
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <ul>
                        <li>Culture: Tomate</li>
                        <li>Privé</li>

                    </ul>
                </div>
                
                <div class="tab-pane" id="tab2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mx-auto">
                                <div class="form-group">
                              <div class="form-group">
                                  <div class="datepicker date input-group">
                                    <input type="text" placeholder="Choisir une date" class="form-control" id="reservationDate">
                                    <div class="input-group-append"><span class="input-group-text px-4"><i class="fa fa-calendar"></i></span></div>
                                    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%230B8043&ctz=Europe%2FParis&src=Y184NjI2YWUyNDgxNzg3OTgzM2E1ZTE0YjgzYzliOTc2NDg2OTFkMDA2NTljOGIwMDAzNGVmNGU0Y2M5ZTBjNWFjQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23616161" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                                    <div>Ajoutez un évènement <a href="https://calendar.google.com/calendar/u/0?cid=Y184NjI2YWUyNDgxNzg3OTgzM2E1ZTE0YjgzYzliOTc2NDg2OTFkMDA2NTljOGIwMDAzNGVmNGU0Y2M5ZTBjNWFjQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20">ici !</a></div>
                                  </div>
                              </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>

                <div class="tab-pane" id="tab3">Vous pouvez consulter le détail des objectifs pédagogiques</div>

                <div class="tab-pane" id="tab4">Vous pouvez consulter le détail des compléments</div>
            </div>

        

            
        </div>
    </div>
    <br><br><br>
    
        
        
        <!-- Extension jquery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

        <!-- Extension DATEPICKER -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
        <!-- Noyau JavaScript de Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>  
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
        <!-- Script jardin 2D max -->
        <script src="../static/JS/garden.js"></script>
        <!-- Activation du script calendrier-->
        <script src="../static/JS/script_calendrier.js"></script>
        
        
</body>