<link rel="stylesheet" href="./../static/css/style_inscription.css">
{% extends "layout.html" %}

{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="rounded-md bg-green-50 p-4">
            <div class="flex">
                <div class="flex-shrink-0">
                <!-- Heroicon name: solid/check-circle -->
                <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                </svg>
                </div>
                <div class="ml-3">
                <p class="text-sm font-medium text-green-800">{{ messages[0] }}</p>
                </div>
                <div class="ml-auto pl-3">
                <div class="-mx-1.5 -my-1.5">
                    <a href="/profil">
                        <button type="button" class="inline-flex bg-green-50 rounded-md p-1.5 text-green-500 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-50 focus:ring-green-600">
                            <span class="sr-only">Dismiss</span>
                            <!-- Heroicon name: solid/x -->
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </a>
                </div>
                </div>
            </div>
            </div>
        {% endif %}
    {% endwith %}
    <table>
        <tbody>
            <tr>
                <td>
                    <div style="color:white;">Pseudo</div>
                </td>
                <td>
                    <div style="color:white;">{{ pseudo }}</div>
                </td>
                <td>
                    <a href="/maj/pseudo" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700"> Changer </a>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="color:white;">Mail</div>
                </td>
                <td>
                    <div style="color:white;">{{ items[0][0] }}</div>
                </td>
                <td>
                    <a href="/maj/mail" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700"> Changer </a>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="color:white;">Mot de passe</div>
                </td>
                <td>
                    <div style="color:white;">
                        {% for lettre in items[0][1] %}
                            *
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <a href="/maj/mdp" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700"> Changer </a>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="color:white;">Ville</div>
                </td>
                <td>
                    <div style="color:white;">{{ items[0][3] }}</div>
                </td>
                <td>
                    <a href="/maj/ville" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700"> Changer </a>
                </td>
            </tr>
        </tbody>
    </table>
    

{% endblock %}
