{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/style_forum.css">
<link rel="stylesheet" href="./../static/css/style_inscription.css">
{% endblock head %}

{% block body %}
<body class="form-v9">
    <div class="page-content">
        <div class="form-v9-content" style="background-image: url('images/form-v9.jpg')">
            <form class="form-detail" action="/creerreponse" method="post">
                <h2>Jardin Copain</h2>
                <div class="form-row-last">
                    <div class="Créerunsujet"> 
                        <a href='creerreponse?sujet={{ sujet }}'target ="_blank">Répondre</a>
                    </div>
                </div>
            </form>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Rechercher une réponse..">
            <div class="form-v9-vontent">
                Sujet : {{ sujet }}
            </div>
            <table id = "myTable" class="container">
                <thead>
                    <tr>
                        <th><h1>Réponses</h1></th>
                        <th><h1>Utilisateur</h1></th>
                        <th><h1>Date</h1></th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for row in listdb %}
                        <tr> 
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>

                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script>
                function myFunction() {
                    var input, filter, table, tr, td, i, txtValue;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("myTable");
                    tr = table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[0];
                        if (td) {
                            txtValue = td.textContent || td.innerText;
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";}
                        else {
                            tr[i].style.display = "none";
                        }
                        }
                    }
                }
            </script>
            </div>
        </div>
    </div>
{% endblock body %}