
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JardinManager</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <link rel="stylesheet" href="../static/css/style_forum.css">
  <link rel="stylesheet" href="./../static/css/style_inscription.css">
</head>
<body>
 <!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  const colors = require('tailwindcss/colors')
  
  module.exports = {
    // ...
    theme: {
      extend: {
        colors: {
          teal: colors.teal,
          cyan: colors.cyan,
        },
      },
    },
    plugins: [
      // ...
      require('@tailwindcss/forms'),
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="bg-white">
  <div class="relative overflow-hidden">
    <header class="relative">
      <div class="bg-gray-900 pt-6">
        <nav class="relative max-w-7xl mx-auto flex items-center justify-between px-4 sm:px-6" aria-label="Global">
          <div class="flex items-center flex-1">
            <div class="flex items-center justify-between w-full md:w-auto">
              <a href="/">
                <span class="sr-only">Logo</span>
                <img class="h-8 w-auto sm:h-10" src="./../static/image/photo_home/logo.png" alt="logo">
              </a>
              <div class="-mr-2 flex items-center md:hidden">
                <button type="button" class="bg-gray-900 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:bg-gray-800 focus:outline-none focus:ring-2 focus-ring-inset focus:ring-white" aria-expanded="false">
                  <span class="sr-only">Open main menu</span>
                  <!-- Heroicon name: outline/menu -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="hidden space-x-8 md:flex md:ml-10">
              <a href="#" class="text-base font-medium text-white hover:text-gray-300">Le Jardin</a>

              <a href="/forum" class="text-base font-medium text-white hover:text-gray-300">Jardin Copain</a>

              <a href="/cabanon" class="text-base font-medium text-white hover:text-gray-300">Le Cabanon</a>

              <a href="/profil" class="text-base font-medium text-white hover:text-gray-300">Profil</a>
            </div>
          </div>
          <div class="hidden md:flex md:items-center md:space-x-6">
            <a href="/connection" class="text-base font-medium text-white hover:text-gray-300"> Connexion </a>
            <a href="/inscription" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700"> S'inscrire </a>
          </div>
        </nav>
        <body class="form-v9">
          <div class="page-content">
              <div class="form-v9-content" style="background-image: url('images/form-v9.jpg')">
                  <form class="form-detail" action="/connection" method="post">
                      <h2>Connexion</h2>
                      <div class="form-row-total">
                          <div class="form-row">
                              <input autocomplete="off" autofocus type="text" name="pseudo" id="pseudo" class="input-text" placeholder="Pseudo" required>
                          </div>
                      </div>
                      <div class="form-row-total">
                          <div class="form-row">
                              <input autocomplete="off" autofocus type="password" name="mdp" id="mdp" class="input-text" placeholder="Mot de passe" required>
                          </div>  
                      </div>
                      <div class="form-row-last">
                          <input type="submit" name="connexion" class="register" value="se connecter">
                      </div>
                      <h3><a href="/inscription">Pas encore inscrit ? Inscrivez-vous vite ici !</a></h3>
                          
                      </div>
                  </form>
              </div>
          </div>
      
      </div>


