table {
  border-collapse: collapse;
}

td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

.carrot:before {
  content: "🥕";
  font-size: 36px;
}

.tomato:before {
  content: "🍅";
  font-size: 36px;
}
.cerises:before {
  content: "🍒";
  font-size: 36px;
}

.fraise:before {
  content: "🍓";
  font-size: 36px;
}

.kiwi:before {
  content: "🥝";
  font-size: 36px;
}

.melon:before {
  content: "🍈";
  font-size: 36px;
}

.peche:before {
  content: "🍑";
  font-size: 36px;
}

.poire:before {
  content: "🍐";
  font-size: 36px;
}

.pomme:before {
  content: "🍎";
  font-size: 36px;
}

.raisin:before {
  content: "🍇";
  font-size: 36px;
}

.ail:before {
  content: "🧄";
  font-size: 36px;
}

.aubergine:before {
  content: "🍆";
  font-size: 36px;
}

.avocat:before {
  content: "🥑";
  font-size: 36px;
}

.broccoli:before {
  content: "🥦";
  font-size: 36px;
}

.cacahuetes:before {
  content: "🥜";
  font-size: 36px;
}

.chataigne:before {
  content: "🌰";
  font-size: 36px;
}

.concombre:before {
  content: "🥒";
  font-size: 36px;
}

.mais:before {
  content: "🌽";
  font-size: 36px;
}

.salade:before {
  content: "🥬";
  font-size: 36px;
}

.oignon:before {
  content: "🧅";
  font-size: 36px;
}

.patate:before {
  content: "🥔";
  font-size: 36px;
}



#button-container {
display: none;
}

.planted-vegetable {
  /* Code pour le dégradé de couleur vert */
  background-color: linear-gradient(to bottom, #00FF00, #008800);
}

.chemin_fond {
  width: 50px;
  height: 50px;
  background-color: #804000; /* couleur brun terre */
  border-bottom: 2px solid #663300; /* bordure inférieure foncée pour simuler une ornière */
  box-shadow: inset 0 0 5px #663300; /* ombre interne pour simuler de l'épaisseur */
}




